<div class="center jumbotron">
  <h1>Play Mafia</h1>
  <%= link_to "Join Room", '#', class: "btn btn-lg btn-primary" %><br>
  <%= link_to "Create Room", '#', class: "btn btn-lg btn-primary" %><br>
  <%= link_to "How to Play", help_path, class: "btn btn-lg btn-primary" %><br>
</div>