<div class="clipboard-container Aligner">
  <div class="clipboard">
    <!-- Target -->
    <input id="clipboard-target" value="<%= value %>" class="form-control" type="text">
    <!-- Trigger -->
    <button class="copy-to-clipboard" data-clipboard-target="#clipboard-target">
      <%= image_tag "copy_to_clipboard.png", class: 'icon' %>
    </button>
  </div>
</div>