<div id='roles-container' class='jumbotron'>
  <h2>Roles</h2>

  <hr>

  <ul id="roles-list" data-num-roles="<%= roles.reduce(0){|sum, role| sum + role[:count] } %>">
    <%= render partial: 'shared/role', collection: roles, locals: { hide_remove_links: false } %>
  </ul>
</div>

<% if !is_host?(@room) %>
  <%= subscribe_to channel %>
<% end %>