<h2>Roles:</h2>
<ul id="roles-list">
  <%= render partial: 'shared/role', collection: roles, locals: { hide_remove_links: false } %>
</ul>

<% if !is_host?(@room) %>
  <%= subscribe_to channel %>
<% end %>