
<header id='room-header' class='navbar navbar-fixed-top'>
  <div class="container">
    <p>Room </p>
    <p id="room-code" data-room-code="<%= room_code %>">
      <%= room_code %>
    </p>
  </div>
</header>