<%= render partial: 'shared/room_header', locals: { room_code: params[:room_code] } %>

<h1>Game Setup</h1>
<%= render partial: 'shared/user_list', locals: { users: @users, channel: @users_list_channel } %>

<%= render partial: 'shared/roles_list', locals: { roles: @roles, channel: @roles_list_channel } %>