<h1 class="center">New Game</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag rooms_path do %>
      <%= label_tag :name, "What's your actual name?" %>
      <%= text_field_tag :name, "", class: 'form-control', placeholder: "Your Name" %>
      <%= submit_tag "Create Game", id: 'submit', class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
