<%= render partial: 'shared/room_header', locals: { room_code: params[:room_code] } %>

<h1>Waiting Room</h1>
<%= render partial: 'shared/user_list', locals: { users: @users, channel: @users_list_channel } %>

<%= link_to "Leave", users_path, method: :delete %>