@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Aligner */

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

/* universal */

html {
  height: 100%;
}

body {
  background-color: $gray-darker;
  height: 100%;
}

#main_container {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  @include vertical-align();
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  color: $gray-lighter;
}

h1 {
  font-size: 300%;
  margin-bottom: 15%;
}

p {
  font-size: 110%;
  // line-height: 1.7em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  display: inline;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

/* Button */

.btn-gray {
  background-color: $gray-light;
  color: $gray-lighter;
}

/* static_pages/home */

#new-room, #btnHelp {
  width: 57%;
  margin: 0 auto;
}

#new-room {
  margin-bottom: 1.6em;
}

form#new_room {
  margin-bottom: 1.8em;

  #room_code {
    width: 40%;
    display: inline-block;
    font-size: 1.5em;
    padding: 0.5em 0.8em;
    margin-right: 0.2em;
  }

  #join-room {
    width: 15%;
    display: inline-block;
  }
}

/* New user form */

form#new_user {
  #name-label {
    color: $gray-lighter;
  }

  #name-fields {
    width: 60%;
    display: inline-block;
    margin-right: 0.2em;
    text-align: left;
    #name-field {
      font-size: 1.6em;
      padding: 0.5em 0.8em;
    }
  }

  #submit {
    width: 15%;
    display: inline-block;
  }
}

/* Room Header */

#room-header {
  width: 100%;
  background-color: $gray-dark;
  border-bottom: 2px solid $gray;
  height: 4.5em;
  line-height: 4.5em;
  .container {
    height: 100%;
  }
  p {
    font-size: 120%;
    display: inline-block;
    color: $gray-light;
    margin: 0;
  }
  #room-code {
    font-size: 180%;
    color: $gray-lighter;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
  }
  #day-phase {
    font-size: 180%;
    color: $gray-lighter;
    margin-left: 2.3em;
  }
  #day-phase-icon {
    font-size: 300%;
    position: absolute;
    color: #a3b1dc;
    line-height: 160%;
  }
  #day-phase-icon.day {
    color: #fcde83;
  }
  #header-buttons {    
    float: right;
    height: 100%;
    #start-game, #leave, #role-button {
      background-color: #804d4d;
      border-color: $gray-lighter;
      width: 5em;
    }
    #start-game {
      margin-right: 0.9em;
    }
    #start-game.disabled {
      background-color: #339933;
      border-color: $gray;
    }
    #start-game:not(.disabled) {
      background-color: #0ac20a;
      border-color: $gray-lighter;
    }
    #role-button {
      background-color: #7334b2;
    }
  }
}

.below-header {
  margin-top: 6em;
}

/* static_pages/help page */

#helpContainer {
  margin: 2em;

  h1 {
    margin-bottom: 1em;
  }

  .help-section {
    margin-bottom: 1.9em;
    h3 {
      color: $gray-light;
    }

    p {
      color: $gray-lighter;
    }
  }
}

/* User / Roles List Containers */

#roles-container, #users-container {
  background-color: #435970;
  border: 1px solid $gray-light;
  padding: 0 3% 3% 3%;

  h2 {
    font-size: 1.7em;
    text-align: left;
    color: $gray-lighter;
    margin-bottom: 0.1em;
    margin-left: 2%;
    font-weight: bold;
  }

  hr {
    border-color: $gray-light;
    margin: 1em 0;
  }

  #no-roles-msg {
    font-size: 1.2em;
    color: $gray-lighter;
    text-align: center;
  }
}

/* Users & Roles List */

#users-container {
  background-color: #4d7043;
}

#users-list, #roles-list {
  padding-left: 0;
  li {
    position: relative;
    list-style-type: none;
    background-color: #59804d;
    color: $gray-lighter;
    padding: 0.4em 1.2em;
    border-radius: 0.6em;
    margin-bottom: 0.3em;
    line-height: 1.9em;
    height: 100%;
    vertical-align: middle;
    .role-left {
      height: 100%;
      float: left;
    }
    .user-name, .user-title, .role-name, .role-team, .role-count, .kick-user, .add-role, .remove-role {
      display: inline-block;
    }
    .user-name, .role-name, .role-count, .kick-user {
      font-weight: bold;
    }
    .user-name, .role-name {
      font-size: 1.2em;
    }
    .user-title, .role-team {
      float: right;
      color: $gray;
      text-transform: uppercase;
    }
    .vertical-divider {
      margin: 0 0.8em;
      color: $gray-light;
      font-size: 1.2em;
    }
    .add-role, .remove-role, .kick-user {
      font-size: 2.4em;
      font-weight: bold;
      color: #b5d161;
      text-shadow: 1.5px 1.5px $gray;
      &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
      }
    }
    .remove-role {
      margin-left: 1.2em;
    }
    .role-count-buttons {
      position: absolute;
      height: 100%;
      margin-top: -0.4em;
    }
    .kick-user {
      position: absolute;
      font-size: 2em;
      color: #c63939;
      right: 0.7em;
    }
  }

  li.user-host {
    background-color: #c0a659;
    border: 1px solid $gray-lighter;
  }

  li.user-yourself {
    background-color: #6f9f60;
    border: 1px solid $gray-light;
  }

  li.team-Village {
    background-color: #59a6c0;
  }

  li.team-Mafia {
    background-color: #c05959;
  }

  li.team-Solo {
    background-color: #c0c059;
  }
}

#roles-list {
  li.host {
    .role-count {
      margin: 0 2em;
    }
  }
}

/* New Role form */

form#new-role {
  #name-label {
    color: $gray-lighter;
  }

  #role-options {
    width: 70%;
    font-size: 1.6em;
    margin: 0 0.5em;
  }

  #add-role {
    width: 5em;
    color: $gray-lighter;
    background-color: #5989c0;
    border-color: $gray-light;
  }
}